html {font-family: sans-serif; font-size: 16px; line-height: 1.4;}
body {max-width: 600px; margin: 0 auto 150px; position: relative;}

header { margin: 1em 0 2em; column-span: all; text-align: center; }
header + section { margin: -1em 0 1em; }

header h1 {
    display: inline-block; margin: 0; height: 72px; width: 340px; padding: 0;
    background: url('logo/header.png') no-repeat;
    color: transparent;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    header h1 {
        background: url('logo/header@2x.png') no-repeat;
        background-size: 320px 72px;
    }
}
header nav {display: inline-block; vertical-align: top; text-align: center; clear: right;
           list-style: none inside;
           width: 250px; margin: 0; padding: 5px 0 0;}
header li {display: inline-block; width: 33px; margin: 5px 30px; line-height: 1.25; }
a {color: #003660; text-decoration: none;}
a:hover {color: #FEBC11; text-decoration: underline;}

section { clear: left; }

p, dd, blockquote {
    padding: 0; margin: 20px 0; line-height: 1.4;
    text-rendering: optimizeLegibility; text-align: justify;
    hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto;}
}
li p {
    margin: 10px 0;
}

emph { font-weight: 800}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; clear: both; vertical-align: baseline;
    color: #003660; font-family: 'Open Sans', sans-serif;
}

h1 { padding: 50px 0 20px; font-size: 50px; line-height: 60px; }
body > article > h1:first-child { margin-top: -1.5em; margin-left: -2px; font-weight: 400; }
h2 { padding: 35px 0 15px; font-size: 40px; line-height: 50px; }
h3 { padding: 20px 0 10px; font-size: 25px; line-height: 30px; }
h4 { padding: 15px 0 10px; font-size: 20px; line-height: 25px; }
h5 { padding: 15px 0  5px; font-size: 20px; line-height: 20px; }
h6 { padding: 10px 0  5px; font-size: 20px; line-height: 20px; }

h2 a.heading-right  { float: right; font-size: 25px; margin: 10px 0 0 20px; font-weight: normal; }
h2 a.icon img { height: 25px; vertical-align: sub; filter: grayscale(100%) contrast(500%) brightness(400%); }
h2 a.icon.darken img { filter: brightness(0%); }
h2 a.icon:hover img { filter: none; }
h2 a.icon span { background: white; mix-blend-mode: screen; display: inline-block; }
h2 a.icon:hover span { mix-blend-mode: normal; }
h2 a.icon { background: #7cb1de; }
h2 a.icon:hover { background: transparent; }
h2 a.more:after { content: " »" }

/* Usually used for schedules */
table {
    width: 1000px; margin: 20px -201px; border: 1px solid gray;
    border-collapse: collapse; border-spacing: 0px;
    background: #f5f5f5; border: 1px solid #ddd;
}
td, th { text-align: left; padding: 8px; }
tr { border: 1px solid #ddd; }

ul.photo-list {
    list-style-type: none; list-style-position: inside;
    margin: 0; padding: 0; text-align: center;}
ul.photo-list li {
    float: left; width: 120px; height: 120px; margin: 0;
    text-align: center; color: transparent;
    overflow: hidden; position: relative; background: black; }
ul.photo-list img {display: block; width: 120px; margin: 0 auto; position: relative;}
ul.photo-list a {text-decoration: none; color: transparent;}

ul.photo-list a .caption {
    background-color: rgba(0, 0, 0, .5); color: white; font-weight: bold; font-size: 90%;
    padding: .25em; left: 0; right: 0; bottom: 0; position: absolute; z-index: 100;
    line-height: 1.0;
}
ul.photo-list a:hover .caption { text-decoration: underline; color: #eee; }

#projects ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* this would make all rows the same size */
    /* grid-auto-rows: 1fr; */
    text-rendering: optimizeLegibility;
    hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
}
#projects ul li {
    padding: 10px;
    font-size: 11px;
    list-style: none;
}
#projects ul a {
    /* make the whole box clickable */
    display: block; height: 100%;
    /* make the text seem non-linky */
    color: inherit; text-decoration: none;
}
#projects ul li:hover {
    background-color: #EDEADF;
}
#projects ul h3 {
    font-size: 12px; padding: 0 0 4px 0;
    color: #2A6496; line-height: 15px;
    hyphens: none; -moz-hyphens: none; -webkit-hyphens: auto;
}
ul.long-list span {float: right; color: #888;}
ul.long-list {
    list-style: none inside; padding: 0;
    column-count: 2; -moz-column-count: 2; -webkit-column-count: 2;
}

#news ol {
    list-style: none;
    padding: 0;
}
#news li { padding-bottom: 12px; }
#news li time .year:before { content: ","; }
#news li time {
    color: #666;
    display: block;
    font-size: 85%;
    text-transform: uppercase;
}

#more { text-align: center; font: 150%; height: 50px; vertical-align: middle; line-height: 50px; }

#projects_long h2 {font-size: 115%; margin: .85em 0 0; padding: 0; height: auto;}
#projects_long img { margin: 30px 10px 10px 0; float: left; width: 130px; height: auto;}

dt { float: left; font-weight: bold; margin: 0 .5em 0 0; }
dt:after {content: ":"}
code {white-space: pre}
ol > li {padding-bottom: 4px;}

hr { margin: 5em 0; border-width: 1px 0 0; border-color: gray; }

/* mobile layout tweaks */
@media
only screen
and (max-device-width: 768px) {
    body { margin: 1em; }
    #projects ul { grid-template-columns: repeat(3, 1fr); }

    h2 a.heading-right { float: none; }
    h2 a.more:after { content: "" }
}
/* larger phones: 3 columns of photos */
@media
only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    #news h2 a.heading-right { display: none; }
    ul.photo-list li { width: 100px; height: 100px; }
    ul.photo-list img { width: 100px; }
    #projects ul { grid-template-columns: repeat(2, 1fr); };
}

/* untile project list and one-column alumni for narrow phones */
@media
only screen
and (max-device-width: 414px)
and (orientation: portrait) {
    #news h2 a.heading-right { display: none; }
    ul.long-list { column-count: 1; -moz-column-count: 1; -webkit-column-count: 1; }
}

/* Makes sure that we skip all the floating boxes. */
.clearfix { clear: both; }

img[alt=visitor-photo] {
  float: left;
  margin-right: 20px;
}

.visitor-table {
  width: 100%;
  margin: 0;
}

.meetings { margin: 20px 0; width: 100%; background: transparent; border: none; }
.meetings tr { border: none; }
.meetings td { padding: 4px; width: 8em; text-align: right; }
.meetings td:first-child { width: auto; text-align: left; }

.figure { margin: 1em auto; }
